* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

:root {
	--bg-color: #2a2a2a;
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #ff914d;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body {
	background: var(--bg-color);
	color: var(--text-color)
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all .45s ease;
}

.logo {
	float: left;
	/* margin: 0 auto; */
	/* display: inline-block; */
}

.logo img:hover {
	transform: scale(1.1);
}

.logo img {
	background: transparent;
	width: 60px;
	height: auto;
	/* margin: 0 auto; */
}

.navlist {
	display: flex;
}

.navlist a {
	color: var(--second-color);
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all .45s ease;
}

.navlist a:hover {
	color: var(--main-color);
}

.navlist a.active {
	color: var(--main-color);
}

span {
	color: var(--main-color);
}

#menu-icon {
	font-size: 35px;
	color: var(--text-color);
	z-index: 10001;
	cursor: pointer;
	margin-left: 25px;
	display: none;
}

section {
	padding: 160px 15% 120px;
}

.acasa {
	/* display:inline-block; */
	position: relative;
	height: 100vh;
	width: 100%;
	background-image: url(../img/background0.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	opacity: 0.1;
	transition: opacity 1s ease-in-out;
}

/* .acasa-text{
	margin: 0 auto;
} */

span #more {
	display: none;
	/* Ascunde textul suplimentar initial */
}

.btn {
	border: none;
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}

.btn:hover {
	transform: scale(0.9);
	cursor: pointer;
}

.btn2 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: var(--text-color);
	margin-left: 35px;
}

.btn2 span i {
	height: 55px;
	width: 55px;
	background: var(--main-color);
	color: var(--text-color);
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transform: all .45 ease;
}

.btn2 span i:hover {
	transform: scale(1.1) translateY(5px);
}

.display-title {
	animation: opac 0.8s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);

	white-space: nowrap;
	text-align: center !important;
	padding: 12px 24px !important;
	color: #fff !important;
	background-color: #000 !important;
	font-size: 24px !important;
	letter-spacing: 4px;
	border-radius: 10px;
}

header.sticky {
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

.despre {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}

.despre-img img {
	max-width: 530px;
	max-height: auto;
	width: 80%;
	height: auto;
	border-radius: 5%;
}

.despre-text h2 {
	font-size: var(--h2-font);
	line-height: 1;
}

.despre-text h4 {
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	line-height: 1.7;
	margin: 15px 0 30px;
}

.despre-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 4rem;
	text-align: justify;
	text-indent: 30px;
}

.servicii {
	background: var(--second-bg-color);
}

.main-text {
	text-align: center;
}

.main-text p {
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}

.main-text h2 {
	font-size: var(--h2-font);
	line-height: 1;
}

.servicii-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}

.box {
	background: var(--bg-color);
	padding: 35px 35px;
	border-radius: 8px;
	transition: all .45s ease;
}

.s-icons i {
	font-size: 32px;
	margin-bottom: 20px;
}

.box h3 {
	font-size: 20px;
	font-weight: 600;
	color: var(--text-color);
	margin-bottom: 15px;
}

.box p {
	color: var(--second-color);
	font-size: 15px;
	line-height: 1.8;
	margin-bottom: 25px;
	/* text-align: justify; */
	text-indent: 30px;
}

.read {
	display: inline-block;
	padding: 8px 18px;
	background: #333333;
	color: var(--second-color);
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	transition: all .45s ease;
	border: none;
}

.read:hover {
	letter-spacing: 1px;
	background: #ffffff99;
	color: var(--text-color);
	cursor: pointer;
}

.box:hover {
	transform: translateY(-8px);
	cursor: pointer;
}

.portofoliu-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}

.row {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}

.row img {
	width: 100%;
	border-radius: 8px;
	display: block;
	transition: transform 0.5s;
}

/* .frame{
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	display: block;
} */

.video-container{
	margin-top: 2.5rem;
	/* background-color: aqua; */
	height: auto;
	position: relative;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	display: grid;
}

.video-container iframe {
	border-radius: 10px;
	align-items: center;
	display: block;
	/* position: relative; */
	margin: 0 auto;
	width: 60%; 
	height: 315px;
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.1), #ff914d);
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 40px;
	transition: height 0.5s;
}

.layer h5 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}

.layer h4 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}

.layer p {
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
}

.layer i {
	color: var(--main-color);
	margin-top: 20px;
	font-size: 20px;
	background: var(--text-color);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
}

.row:hover img {
	transform: scale(1.1);
	opacity: 0.2;
}

.row:hover .layer {
	height: 100%;
}

.contact {
	background: var(--second-bg-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
}

.contact-text h4 {
	color: var(--text-color);
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
}

.contact-text h2 {
	font-size: var(--h2-font);
	line-height: 1;
}

.contact-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 30px;
	/* text-align: justify; */
	text-indent: 30px;
}

.sth {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* align-items: center; */
	gap: 2.5rem;
}

.logo2 img {
	background: transparent;
	width: 200px;
	height: auto;
	margin: none;
	/* margin: 0 auto; */
}

.list {
	margin-bottom: 2.8rem;
}

.list li {
	margin-bottom: 12px;
}

.list li a {
	display: block;
	color: var(--second-color);
	font-size: 14px;
	transition: all .45s ease;
}

.list li a:hover {
	color: var(--main-color);
	transform: translateX(5px);
}

.contact-icons i {
	height: 45px;
	width: 45px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}

.contact-icons i:hover {
	background: var(--text-color);
	color: var(--main-color);
}

.contact-form form {
	position: relative;
}

.contact-form form input,
form textarea {
	width: 100%;
	padding: 14px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 15px;
	border-radius: 8px;
	margin-bottom: 10px;
}

.contact-form textarea {
	resize: none;
	height: 240px;
}

.contact-form .submit {
	display: inline-block;
	background: var(--main-color);
	color: var(--text-color);
	width: 160px;
	margin-top: 20px;
	transition: all .45s ease;
}

.contact-form .submit:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.end {
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}

.last-text p {
	color: var(--second-color);
	font-size: 14px;
}

.top i {
	padding: 10px;
	height: 45px;
	width: 45px;
	font-size: 25px;
	color: var(--text-color);
	background: var(--main-color);
	border-radius: 50%;
	transition: all .45s ease;
}


.top i:hover {
	background: var(--text-color);
	color: var(--main-color);
}


/* deschidere imagine */
#myImg {
	cursor: pointer;
	transition: 0.3s;
	max-width: 530px;
	max-height: auto;
	width: 80%;
	height: auto;
	border-radius: 5%;
}

#myImg:hover {
	opacity: 0.7;
}


@media(min-width: 1700px) {
	.video-container{
  		height: 400px;
	}
	.video-container iframe, .video-container object, .video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		height: 100%;
		border-radius: 10px;
		align-items: center;
		display: block;
		position: relative;
		margin: 0 auto;
		/* width: 100%; 
		height: auto; */
	}
}

@media(max-width: 1480px) {
	header {
		padding: 12px 2.5%;
		transition: .1s;
	}

	header.sticky {
		padding: 10px 2.5%;
		transition: .1s;
	}

	section {
		padding: 110px 3% 60px;
	}

	.end {
		padding: 15px 3%;
	}
}

@media(max-width: 1480px) {
	header {
		padding: 12px 2.5%;
		transition: .1s;
	}

	header.sticky {
		padding: 10px 2.5%;
		transition: .1s;
	}

	section {
		padding: 110px 3% 60px;
	}

	.end {
		padding: 15px 3%;
	}
}

@media(max-width: 1100px) {
	:root {
		--big-font: 4rem;
		--h2-font: 2.5rem;
		--p-font: 1rem;
		transition: .1s;
	}

	.acasa-text {
		height: 87vh;
	}
}

@media(max-width: 920px) {
	.despre {
		grid-template-columns: 1fr;
	}

	.despre-img {
		text-align: center;
		order: 2;
	}

	#myImg {
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	.despre-img img {
		width: 100%;
		height: auto;
		max-width: 100%;
	}

	.contact {
		grid-template-columns: 1fr;
	}
}

@media(max-width: 840px) {
	#menu-icon {
		display: block;
	}

	.navlist {
		position: absolute;
		top: -1000px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		background: var(--bg-color);
		text-align: left;
		transition: all .45s ease;
	}

	.navlist a {
		display: block;
		margin: 17px;
		font-size: 20px;
		transition: all .45s ease;
		color: var(--text-color);
	}

	.navlist a:hover {
		color: var(--main-color);
	}

	.navlist a.active {
		color: var(--text-color);
	}

	.navlist.open {
		top: 100%;
	}
}

@media(max-width: 787px) {
	.video-container{
		width: 100%;
  		height: 400px;
	}

	.video-container iframe, .video-container object, .video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		align-items: center;
		display: block;
		position: relative;
		margin: 0 auto;
		/* width: 100%; 
		height: auto; */
	}

}
@media(max-width: 450px) {
	.layer h5 {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 7px;
	}
	
	.layer h4 {
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 14px;
	}
	
	.layer p {
		color: var(--second-color);
		font-size: 0.7rem;
		line-height: 1.4;
	}
	
	.layer i {
		color: var(--main-color);
		margin-top: 7px;
		font-size: 14px;
		background: var(--text-color);
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		cursor: pointer;
	}

}
